<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.default.mobile.min.css" />

    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content" style="max-width: none;">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="http://kendo.cdn.telerik.com/2016.1.412/js/kendo.all.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2016.1.412/js/kendo.timezones.min.js"></script>

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
